name: Deploy to Hugging Face Space

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout GitHub repo
        uses: actions/checkout@v4

      - name: Push to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions"

          # Remove hf remote if it already exists (avoids errors)
          git remote remove hf || true

          # Add Hugging Face Space as remote
          git remote add hf https://gajey1995:$HF_TOKEN@huggingface.co/spaces/gajey1995/SampleHuggingFaceSpace

          # FORCE push to avoid 'fetch first' error
          git push hf main --force
